$colors: (
    'common': (
        'white': #ffffff,
        'black': #1F0723,
        'red': #DC1D1C,
    ),
    'heading': (
        'primary': #1F0723,
    ),
    'gray': (
        '1':#F2EBE9,
        '2':#F3F3F3,
        '3':#F2F6F9,
    ),
    'text': (
        'body':#5E5F62,
    ),
    'theme': (
        '1':#011D4E,
    ),
    'border': (
    )
);
