@forward 'components/theme';
@forward 'components/spacing';
@forward 'components/buttons';
@forward 'components/animation';
@forward 'components/preloader';
@forward 'components/background';
@forward 'components/carousel';
@forward 'components/offcanvas'; 
@forward 'components/breadcrumb';
@forward 'components/accordion';
@forward 'components/search';
@forward 'components/tab';
@forward 'components/tab';
@forward 'components/modal';
@forward 'components/section-title';
@forward 'components/meanmenu';
@forward 'layout/blog';
@forward 'layout/contact';
@forward 'layout/error';
@forward 'layout/footer';
@forward 'layout/funfact';
@forward 'layout/header';
@forward 'layout/hero';
@forward 'layout/menu';
@forward 'layout/menu';
@forward 'layout/portfolio';
@forward 'layout/service';
@forward 'layout/team';
@forward 'layout/testimonial';
@forward 'layout/text-slider';
@forward 'layout/feature';
@forward 'layout/cta';
@forward 'layout/brand';
@forward 'layout/step';
@forward 'layout/choose';
@forward 'layout/event';
@forward 'layout/newsletter';
@forward 'layout/about';
@forward 'layout/slider';
@forward 'layout/video';
@forward 'layout/value';


  