

{% extends "base.html" %}

{% set active_page = "portfolio_details" %}

{% set my_name = fullname %}
{% set user_type = user_type %}

{% block title %} Portfolio Details {% endblock %}

{% block content %}

   <main>

      <!-- breadcrumb-area-start -->
      <div class="it-breadcrumb-area it-breadcrumb-overlay it-breadcrumb-ptb z-index-1 fix p-relative" data-background="static/img/breadcrumb/breadcrumb.jpg">
         <div class="container">
            <div class="p-relative">
               <div class="it-breadcrumb-shape-1">
                  <img src="static/img/shape/shape-1-1.png" alt="">
               </div>
               <div class="row">
                  <div class="col-lg-12">
                     <div class="it-breadcrumb-content z-index-3">
                        <div class="it-breadcrumb-title-box">
                           <h3 class="it-breadcrumb-title it-split-text it-split-in-right">Portfolio Details</h3>
                        </div>
                        <div class="it-breadcrumb-list-wrap">
                           <div class="it-breadcrumb-list">
                              <span><a href="index.html">home</a></span>
                              <span class="dvdr">//</span>
                              <i>Portfolio Details</i>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>      
      <!-- breadcrumb-area-end -->

      <!-- details-area-start -->
      <div class="it-portfolio-details-area pt-120 pb-100">
         <div class="container">
            <div class="it-portfolio-details-wrap mb-130">
               <div class="row">
                  <div class="col-xl-5 col-lg-5">
                     <div class="it-portfolio-details-thumb wow img-anim-left" data-wow-duration="1.5s" data-wow-delay="0.1s">
                        <img src="static/img/portfolio/details-1.jpg" alt="">
                     </div>
                  </div>
                  <div class="col-xl-7 col-lg-7">
                     <div class="it-portfolio-details-content">
                        <h4 class="it-portfolio-details-title">About the Portfolio</h4>
                        <p class="mb-20">Domestic medicine assistance in senior care involves providing support to  elderly individuals in managing their medications safely and effectively  within their homes. This service includes organizing medication schedules,  ensuring proper dosages are taken at the correct times, and monitoring for potential side effects or interactions. Caregivers or healthcare professionals  may assist with prescription refills, educate seniors about their medications, </p>
                        <div class="it-portfolio-details-content-info">
                           <span>Client:<a href="#">Techco</a></span>
                           <span>Category:<a href="#">Cloud Migration</a></span>
                           <span>Date:<a href="#">May 21,20024</a></span>
                           <span>Location: <a target="_blank" href="https://www.google.com/maps/@50.063987,52.7370285,5z?entry=ttu&g_ep=EgoyMDI1MDEwOC4wIKXMDSoASAFQAw%3D%3D"> New York,NY,USA</a></span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="mb-130">
               <div class="row align-items-center">           
                  <div class="col-xl-6 col-lg-6">
                     <div class="it-portfolio-details-content content-mr">
                        <h4 class="it-portfolio-details-title mb-20">domestic medicine assistance 
                           of senior care</h4>
                        <p class="mb-0">Domestic medicine assistance in senior care involves providing support to elderly individuals in managing their medications safely and effectively within their homes. This service includes organizing medication schedules, ensuring proper dosages are taken at the correct times, and monitoring for potential side effects or interactions. Caregivers or healthcare professionals may assist with prescription refills, educate seniors about their medications, and coordinate with pharmacies and healthcare providers.</p>
                        
                     </div>
                  </div>
                  <div class="col-xl-6 col-lg-6">
                     <div class="it-portfolio-details-thumb wow img-anim-top" data-wow-duration="1.5s" data-wow-delay="0.1s">
                        <img src="static/img/portfolio/details-2.jpg" alt="">
                     </div>
                  </div>
               </div>
            </div>
            <div class="mb-50">
               <div class="row align-items-center">  
                  <div class="col-xl-6 col-lg-6">
                     <div class="it-portfolio-details-thumb wow img-anim-top" data-wow-duration="1.7s" data-wow-delay="0.1s">
                        <img src="static/img/portfolio/details-3.jpg" alt="">
                     </div>
                  </div>         
                  <div class="col-xl-6 col-lg-6">
                     <div class="it-portfolio-details-content content-ml">
                        <h4 class="it-portfolio-details-title mb-20">Project requirement</h4>
                        <p class="mb-30">Our program ensures safe and effective medication management for seniors at home. We organize schedules, monitor adherence, and educate seniors and caregivers. Coordination with healthcare providers and pharmacies promotes health and independence.</p>     
                        <div class="it-portfolio-details-list">
                           <ul>
                              <li>
                                 <span><i class="fa-sharp fa-solid fa-circle-check"></i>
                                    Organize and manage medication schedules.
                                 </span>
                              </li>
                              <li>
                                 <span><i class="fa-sharp fa-solid fa-circle-check"></i>
                                    Family members and caregivers.
                                 </span>
                              </li>
                              <li>
                                 <span><i class="fa-sharp fa-solid fa-circle-check"></i>
                                    evelopment of personalized medication plans.
                                 </span>
                              </li>
                              <li>
                                 <span><i class="fa-sharp fa-solid fa-circle-check"></i>
                                    Emergency contact and support system.
                                 </span>
                              </li>
                              <li>
                                 <span><i class="fa-sharp fa-solid fa-circle-check"></i>
                                    Medication management apps for reminders.
                                 </span>
                              </li>
                              <li>
                                 <span><i class="fa-sharp fa-solid fa-circle-check"></i>
                                    Allocation of funds for hiring qualified personnel.
                                 </span>
                              </li>
                              <li>
                                 <span><i class="fa-sharp fa-solid fa-circle-check"></i>
                                    Initial setup and training: 3 months.
                                 </span>
                              </li>
                              <li>
                                 <span><i class="fa-sharp fa-solid fa-circle-check"></i>
                                    Regular assessments to measure.
                                 </span>
                              </li>
                           </ul>
                        </div>                
                     </div>
                  </div>            
               </div>
            </div>
            <div class="row">
               <div class="col-12">
                  <div class="it-portfolio-details-content">
                     <h4 class="it-portfolio-details-title mb-20">solution & result</h4>
                     <p class="mb-30">Our program delivers comprehensive medication management for seniors within their homes, ensuring safety and effectiveness. We meticulously organize medication schedules, monitor adherence, and manage potential side effects. Our team educates seniors and their caregivers on proper medication usage and coordinates seamlessly with healthcare providers and pharmacies to ensure timely prescription refills and updates.</p>   
                     <p>Seniors benefit from improved health outcomes, enhanced safety, and increased independence, allowing them to live more fulfilling lives. Caregivers gain valuable knowledge and confidence in managing medications, reducing stress and preventing errors.</p> 
                  </div>
               </div> 
            </div>
         </div>
      </div> 
      <!-- details-area-end -->


   </main>

{% endblock %}