

{% extends "base.html" %}

{% set active_page = "team details" %}

{% set my_name = fullname %}
{% set user_type = user_type %}

{% block title %} Team Details {% endblock %}

{% block content %}

   <main>
      <!-- breadcrumb-area-start -->
      <div class="it-breadcrumb-area it-breadcrumb-overlay it-breadcrumb-ptb z-index-1 fix p-relative" data-background="static/img/breadcrumb/breadcrumb.jpg">
         <div class="container">
            <div class="p-relative">
               <div class="it-breadcrumb-shape-1">
                  <img src="static/img/shape/shape-1-1.png" alt="">
               </div>
               <div class="row">
                  <div class="col-lg-12">
                     <div class="it-breadcrumb-content z-index-3">
                        <div class="it-breadcrumb-title-box">
                           <h3 class="it-breadcrumb-title it-split-text it-split-in-right">Portfolio</h3>
                        </div>
                        <div class="it-breadcrumb-list-wrap">
                           <div class="it-breadcrumb-list">
                              <span><a href="index.html">home</a></span>
                              <span class="dvdr">//</span>
                              <i>Portfolio</i>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>      
      <!-- breadcrumb-area-end -->

      <!-- portfolio-area-start -->
      <div class="it-portfolio-area pt-120 pb-90">
         <div class="container">
            <div class="it-portfolio-top-wrap mb-65">
               <div class="row justify-content-center">
                  <div class="col-xl-5 col-lg-6">
                     <div class="it-section-title-box text-center">
                        <span class="it-section-subtitle">Portfolio</span>
                        <h4 class="it-section-title-3">Our beautiful portfolio
                           cases gallery</h4>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row gx-35">
               <div class="col-xl-4 col-lg-4 col-md-6 mb-35 wow img-anim-top" data-wow-duration="1.5s" data-wow-delay="0.1s">
                  <div class="it-portfolio-item zoom">
                     <div class="it-portfolio-thumb img-zoom">
                        <img class="w-100" src="static/img/portfolio/portfolio-3-1.jpg" alt="">
                     </div>
                     <div class="it-portfolio-content d-flex justify-content-between">
                        <div>
                           <h4 class="it-portfolio-title"><a class="border-line-black" href="{{url_for('portfolio_details.index')}}">Intensive
                                 Care</a></h4>
                           <span>Helping care</span>
                        </div>
                        <div class="it-portfolio-arrow">
                           <a href="{{url_for('portfolio_details.index')}}">
                              <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path
                                    d="M8.33333 1.14575L13 5.81242M13 5.81242L8.33333 10.4791M13 5.81242L1 5.81242"
                                    stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 mb-35 wow img-anim-top" data-wow-duration="1.8s" data-wow-delay="0.1s">
                  <div class="it-portfolio-item zoom">
                     <div class="it-portfolio-thumb img-zoom">
                        <img class="w-100" src="static/img/portfolio/portfolio-3-2.jpg" alt="">
                     </div>
                     <div class="it-portfolio-content d-flex justify-content-between">
                        <div>
                           <h4 class="it-portfolio-title"><a class="border-line-black"
                                 href="#">Compassionate Touch</a></h4>
                           <span>Helping care</span>
                        </div>
                        <div class="it-portfolio-arrow">
                           <a href="{{url_for('portfolio_details.index')}}">
                              <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path
                                    d="M8.33333 1.14575L13 5.81242M13 5.81242L8.33333 10.4791M13 5.81242L1 5.81242"
                                    stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 mb-35 wow img-anim-top" data-wow-duration="2s" data-wow-delay="0.1s">
                  <div class="it-portfolio-item zoom">
                     <div class="it-portfolio-thumb img-zoom">
                        <img class="w-100" src="static/img/portfolio/portfolio-3-3.jpg" alt="">
                     </div>
                     <div class="it-portfolio-content d-flex justify-content-between">
                        <div>
                           <h4 class="it-portfolio-title"><a class="border-line-black" href="{{url_for('portfolio_details.index')}}">Golden Care
                                 Moments</a></h4>
                           <span>Helping care</span>
                        </div>
                        <div class="it-portfolio-arrow">
                           <a href="{{url_for('portfolio_details.index')}}">
                              <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path
                                    d="M8.33333 1.14575L13 5.81242M13 5.81242L8.33333 10.4791M13 5.81242L1 5.81242"
                                    stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 mb-35 wow img-anim-top" data-wow-duration="2.3s" data-wow-delay="0.1s">
                  <div class="it-portfolio-item zoom">
                     <div class="it-portfolio-thumb img-zoom">
                        <img class="w-100" src="static/img/portfolio/portfolio-3-5.jpg" alt="">
                     </div>
                     <div class="it-portfolio-content d-flex justify-content-between">
                        <div>
                           <h4 class="it-portfolio-title"><a class="border-line-black" href="{{url_for('portfolio_details.index')}}">Supportive
                                 Journeys</a></h4>
                           <span>Helping care</span>
                        </div>
                        <div class="it-portfolio-arrow">
                           <a href="{{url_for('portfolio_details.index')}}">
                              <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path
                                    d="M8.33333 1.14575L13 5.81242M13 5.81242L8.33333 10.4791M13 5.81242L1 5.81242"
                                    stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 mb-35 wow img-anim-top" data-wow-duration="2.6s" data-wow-delay="0.1s">
                  <div class="it-portfolio-item zoom">
                     <div class="it-portfolio-thumb img-zoom">
                        <img class="w-100" src="static/img/portfolio/portfolio-3-6.jpg" alt="">
                     </div>
                     <div class="it-portfolio-content d-flex justify-content-between">
                        <div>
                           <h4 class="it-portfolio-title"><a class="border-line-black" href="{{url_for('portfolio_details.index')}}">Senior Health Care Respon</a></h4>
                           <span>Helping care</span>
                        </div>
                        <div class="it-portfolio-arrow">
                           <a href="{{url_for('portfolio_details.index')}}">
                              <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path
                                    d="M8.33333 1.14575L13 5.81242M13 5.81242L8.33333 10.4791M13 5.81242L1 5.81242"
                                    stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 mb-35 wow img-anim-top" data-wow-duration="2.9s" data-wow-delay="0.1s">
                  <div class="it-portfolio-item zoom">
                     <div class="it-portfolio-thumb img-zoom">
                        <img class="w-100" src="static/img/portfolio/portfolio-3-7.jpg" alt="">
                     </div>
                     <div class="it-portfolio-content d-flex justify-content-between">
                        <div>
                           <h4 class="it-portfolio-title"><a class="border-line-black" href="{{url_for('portfolio_details.index')}}">Domestic Assistance</a></h4>
                           <span>Helping care</span>
                        </div>
                        <div class="it-portfolio-arrow">
                           <a href="{{url_for('portfolio_details.index')}}">
                              <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path
                                    d="M8.33333 1.14575L13 5.81242M13 5.81242L8.33333 10.4791M13 5.81242L1 5.81242"
                                    stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- portfolio-area-end -->

   </main>

{% endblock %}