
{% extends "base.html" %}

{% set active_page = "service_details" %}

{% set my_name = fullname %}
{% set user_type = user_type %}

{% block postboxtitle %} Service Details{% endblock %}

{% block content %}

<main>
   <!-- breadcrumb-area-start -->
   <div class="it-breadcrumb-area it-breadcrumb-overlay it-breadcrumb-ptb z-index-1 fix p-relative"
      data-background="static/img/breadcrumb/breadcrumb.jpg">
      <div class="container">
         <div class="p-relative">
            <div class="it-breadcrumb-shape-1">
               <img src="static/img/shape/shape-1-1.png" alt="">
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <div class="it-breadcrumb-content z-index-3">
                     <div class="it-breadcrumb-title-box">
                        <h3 class="it-breadcrumb-title it-split-text it-split-in-right">Services Details</h3>
                     </div>
                     <div class="it-breadcrumb-list-wrap">
                        <div class="it-breadcrumb-list">
                           <span><a href="index.html">home</a></span>
                           <span class="dvdr">//</span>
                           <i>Services Details</i>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- breadcrumb-area-end -->

   <!-- details-area-start -->
   <div class="it-service-details-area postbox-left-style pt-120 pb-120">
      <div class="container">
         <div class="row">
            <div class="col-xl-3 col-lg-4">
               <div class="sidebar-right">
                  <div class="sidebar-widget mb-55">
                     <div class="sidebar-search-box p-relative">
                        <div class="sidebar-search-input">
                           <input type="text" placeholder="Search here">
                        </div>
                        <div class="sidebar-search-button">
                           <button type="submit">
                              <i class="fa-sharp fa-light fa-magnifying-glass"></i>
                           </button>
                        </div>
                     </div>
                  </div>
                  <div class="sidebar-widget mb-55">
                     <h4 class="sidebar-widget-title mb-35">Service category</h4>
                     <a href="{{url_for('service_details.index')}}">
                        <div class="sidebar-widget-list mb-10">
                           Physical Activates
                           <span>
                              <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path
                                    d="M14.7819 8.70711C15.1725 8.31658 15.1725 7.68342 14.7819 7.29289L8.41797 0.928932C8.02744 0.538408 7.39428 0.538408 7.00375 0.928932C6.61323 1.31946 6.61323 1.95262 7.00375 2.34315L12.6606 8L7.00375 13.6569C6.61323 14.0474 6.61323 14.6805 7.00375 15.0711C7.39428 15.4616 8.02744 15.4616 8.41797 15.0711L14.7819 8.70711ZM0.921875 9H14.0748V7H0.921875V9Z"
                                    fill="currentcolor" />
                              </svg>
                           </span>
                        </div>
                     </a>
                     <a href="{{url_for('service_details.index')}}">
                        <div class="sidebar-widget-list active mb-10">
                           Disability Housing plan
                           <span>
                              <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path
                                    d="M14.7819 8.70711C15.1725 8.31658 15.1725 7.68342 14.7819 7.29289L8.41797 0.928932C8.02744 0.538408 7.39428 0.538408 7.00375 0.928932C6.61323 1.31946 6.61323 1.95262 7.00375 2.34315L12.6606 8L7.00375 13.6569C6.61323 14.0474 6.61323 14.6805 7.00375 15.0711C7.39428 15.4616 8.02744 15.4616 8.41797 15.0711L14.7819 8.70711ZM0.921875 9H14.0748V7H0.921875V9Z"
                                    fill="currentcolor" />
                              </svg>
                           </span>
                        </div>
                     </a>
                     <a href="{{url_for('service_details.index')}}">
                        <div class="sidebar-widget-list mb-10">
                           Allied Healthcare
                           <span>
                              <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path
                                    d="M14.7819 8.70711C15.1725 8.31658 15.1725 7.68342 14.7819 7.29289L8.41797 0.928932C8.02744 0.538408 7.39428 0.538408 7.00375 0.928932C6.61323 1.31946 6.61323 1.95262 7.00375 2.34315L12.6606 8L7.00375 13.6569C6.61323 14.0474 6.61323 14.6805 7.00375 15.0711C7.39428 15.4616 8.02744 15.4616 8.41797 15.0711L14.7819 8.70711ZM0.921875 9H14.0748V7H0.921875V9Z"
                                    fill="currentcolor" />
                              </svg>
                           </span>
                        </div>
                     </a>
                     <a href="{{url_for('service_details.index')}}">
                        <div class="sidebar-widget-list mb-10">
                           Community Nursing
                           <span>
                              <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path
                                    d="M14.7819 8.70711C15.1725 8.31658 15.1725 7.68342 14.7819 7.29289L8.41797 0.928932C8.02744 0.538408 7.39428 0.538408 7.00375 0.928932C6.61323 1.31946 6.61323 1.95262 7.00375 2.34315L12.6606 8L7.00375 13.6569C6.61323 14.0474 6.61323 14.6805 7.00375 15.0711C7.39428 15.4616 8.02744 15.4616 8.41797 15.0711L14.7819 8.70711ZM0.921875 9H14.0748V7H0.921875V9Z"
                                    fill="currentcolor" />
                              </svg>
                           </span>
                        </div>
                     </a>
                     <a href="service-details.html">
                        <div class="sidebar-widget-list mb-10">
                           Domestic Assistance
                           <span>
                              <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path
                                    d="M14.7819 8.70711C15.1725 8.31658 15.1725 7.68342 14.7819 7.29289L8.41797 0.928932C8.02744 0.538408 7.39428 0.538408 7.00375 0.928932C6.61323 1.31946 6.61323 1.95262 7.00375 2.34315L12.6606 8L7.00375 13.6569C6.61323 14.0474 6.61323 14.6805 7.00375 15.0711C7.39428 15.4616 8.02744 15.4616 8.41797 15.0711L14.7819 8.70711ZM0.921875 9H14.0748V7H0.921875V9Z"
                                    fill="currentcolor" />
                              </svg>
                           </span>
                        </div>
                     </a>
                     <a href="service-details.html">
                        <div class="sidebar-widget-list mb-10">
                           Disability Old Care
                           <span>
                              <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path
                                    d="M14.7819 8.70711C15.1725 8.31658 15.1725 7.68342 14.7819 7.29289L8.41797 0.928932C8.02744 0.538408 7.39428 0.538408 7.00375 0.928932C6.61323 1.31946 6.61323 1.95262 7.00375 2.34315L12.6606 8L7.00375 13.6569C6.61323 14.0474 6.61323 14.6805 7.00375 15.0711C7.39428 15.4616 8.02744 15.4616 8.41797 15.0711L14.7819 8.70711ZM0.921875 9H14.0748V7H0.921875V9Z"
                                    fill="currentcolor" />
                              </svg>
                           </span>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
            <div class="col-xl-9 col-lg-8">
               <div class="it-service-details-wrap">
                  <div class="it-portfolio-details-thumb mb-30">
                     <img class="wow img-anim-top" data-wow-duration="1.5s" data-wow-delay="0.1s" src="static/img/service/details-1-1.jpg" alt="">
                  </div>
                  <h4 class="it-portfolio-details-title">Life skills development and daily living <br>
                     support through NDIS in Perth</h4>
                  <div class="it-portfolio-details-content">
                     <p class="mb-25">These NDIS assistance items help participants maintain their home environment
                        by supporting essential household tasks they may find difficult. We offer assistance with
                        cleaning, washing, cooking, and home maintenance, ensuring a comfortable and functional
                        living space. Our services are tailored to meet individual needs, helping participants
                        maintain independence and quality of life in their own homes.</p>
                  </div>
                  <div class="it-portfolio-details-list mb-25">
                     <ul>
                        <li>
                           <span><i class="fa-sharp fa-solid fa-circle-check"></i>
                              Help with yardwork and household maintenance.
                           </span>
                        </li>
                        <li>
                           <span><i class="fa-sharp fa-solid fa-circle-check"></i>
                              Cleaning, washing, and cooking are all options.
                           </span>
                        </li>
                        <li>
                           <span><i class="fa-sharp fa-solid fa-circle-check"></i>
                              Assist with paperwork completion and file management.
                           </span>
                        </li>
                     </ul>
                  </div>
                  <h4 class="it-portfolio-details-title">Core – Assistance with Daily Life  </h4>
                  <div class="it-portfolio-details-content mb-55">
                     <p class="mb-20">This category of assistance relates to assisting with or supervising personal
                        daily tasks in order for the participant to live as autonomously as possible. These supports
                        are given to participants individually and can be given in a variety of settings, including
                        the participant’s own home.</p>
                  </div>
                  <div class="row align-items-center">
                     <div class="col-xxl-6 col-xl-5 mb-50">
                        <div class="it-portfolio-details-thumb">
                           <img class="wow img-anim-top" data-wow-duration="1.5s" data-wow-delay="0.1s" src="static/img/service/details-1-2.jpg" alt="">
                        </div>
                     </div>
                     <div class="col-xxl-6 col-xl-7 mb-50">
                        <div class="it-service-details-box">
                           <h4 class="it-portfolio-details-title">Why our services are better than others?</h4>
                           <div class="it-portfolio-details-content">
                              <p class="mb-35">his category of assistance relates to assisting with or supervising personal daily tasks in order for the participant to live as autonomously as</p>
                           </div>
                           <div class="row gx-20">
                              <div class="col-lg-6 col-md-5 col-sm-6">
                                 <div class="it-portfolio-details-list service-style">
                                    <ul>
                                       <li>
                                          <span><i class="fa-sharp fa-solid fa-circle-check"></i>
                                             Quality Comes First
                                          </span>
                                       </li>
                                       <li>
                                          <span><i class="fa-sharp fa-solid fa-circle-check"></i>
                                             Transparent Costs
                                          </span>
                                       </li>
                                       <li>
                                          <span><i class="fa-sharp fa-solid fa-circle-check"></i>
                                             Quick Scale-up
                                          </span>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-5 col-sm-6">
                                 <div class="it-portfolio-details-list service-style">
                                    <ul>
                                       <li>
                                          <span><i class="fa-sharp fa-solid fa-circle-check"></i>
                                             Quality Comes First
                                          </span>
                                       </li>
                                       <li>
                                          <span><i class="fa-sharp fa-solid fa-circle-check"></i>
                                             Flexible Cooperation
                                          </span>
                                       </li>
                                       <li>
                                          <span><i class="fa-sharp fa-solid fa-circle-check"></i>
                                             On-time Delivery 
                                          </span>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>                              
                        </div>
                     </div>
                  </div>
                  <h4 class="it-portfolio-details-title">Age requirements</h4>
                  <div class="it-portfolio-details-content">
                     <p class="mb-15">These NDIS assistance items help participants maintain their home environment by supporting essential household tasks they may find difficult. We offer assistance with cleaning, washing, cooking, and home maintenance, ensuring a comfortable and functional living space. Our services are tailored to meet individual needs, helping participants maintain independence and quality of life in their own homes.</p>
                     <p>These NDIS assistance items help participants maintain their home environment by supporting essential household tasks they may find difficult. We offer assistance with cleaning, washing, cooking, and home maintenance, ensuring a comfortable and functional living space. Our services are tailored to meet individual needs, helping participants maintain independence and quality of life in their own homes.</p>
                     <a class="it-btn-red hover-2 mt-30" href="contact.html">Get A Free Quote</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- details-area-end -->
</main>

{% endblock %}