{% extends "base.html" %}

{% set active_page = "service" %}

{% set my_name = fullname %}
{% set user_type = user_type %}

{% block title %} Service {% endblock %}

{% block content %}

<main>
   <!-- breadcrumb-area-start -->
   <div class="it-breadcrumb-area it-breadcrumb-overlay it-breadcrumb-ptb z-index-1 fix p-relative" data-background="static/img/breadcrumb/breadcrumb.jpg">
      <div class="container">
         <div class="p-relative">
            <div class="it-breadcrumb-shape-1">
               <img src="assets/img/shape/shape-1-1.png" alt="">
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <div class="it-breadcrumb-content z-index-3">
                     <div class="it-breadcrumb-title-box">
                        <h3 class="it-breadcrumb-title it-split-text it-split-in-right">Services Style-01</h3>
                     </div>
                     <div class="it-breadcrumb-list-wrap">
                        <div class="it-breadcrumb-list">
                           <span><a href="{{url_for('index.dashboard')}}">home</a></span>
                           <span class="dvdr">//</span>
                           <i>Services Style-01</i>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>      
   <!-- breadcrumb-area-end -->

   <!-- service-area-start -->
   <div class="it-service-area pt-120 pb-90">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8 col-md-10">
               <div class="it-section-title-box text-center mb-70">
                  <span class="it-section-subtitle">What we’re Offering</span>
                  <h4 class="it-section-title">Providing expert care through specialized
                     disability support services.</h4>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 wow itfadeUp" data-wow-duration=".9s"
                                 data-wow-delay=".3s">
               <div class="it-service-item mb-30">
                  <div class="it-service-content mb-50">
                     <h4 class="it-service-title"><a class="border-line-white-2" href="{{url_for('service_details.index')}}.html">Therapeutic Support</a></h4>
                     <p>Healthy food nourishes the body, boosts energy, supports immunity, & promotes overall
                        wellness.</p>
                     <a class="it-btn-sm" href="{{url_for('service_details.index')}}">More Details</a>
                  </div>
                  <div class="it-service-thumb" data-mask-src="static/img/service/service-bg.png">
                     <img src="static/img/service/service-1-1.png" alt="">
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 wow itfadeUp" data-wow-duration=".9s"
                                 data-wow-delay=".5s">
               <div class="it-service-item mb-30">
                  <div class="it-service-content mb-50">
                     <h4 class="it-service-title"><a class="border-line-white-2" href="{{url_for('service_details.index')}}">Daily Living And Life
                           Skills</a></h4>
                     <p>Healthy food nourishes the body, boosts energy, supports immunity, & promotes overall
                        wellness.</p>
                     <a class="it-btn-sm" href="{{url_for('service_details.index')}}">More Details</a>
                  </div>
                  <div class="it-service-thumb" data-mask-src="static/img/service/service-bg.png">
                     <img src="static/img/service/service-1-2.png" alt="">
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 wow itfadeUp" data-wow-duration=".9s"
                                 data-wow-delay=".7s">
               <div class="it-service-item mb-30">
                  <div class="it-service-content mb-50">
                     <h4 class="it-service-title"><a class="border-line-white-2" href="{{url_for('service_details.index')}}">Support & Connection</a></h4>
                     <p>Healthy food nourishes the body, boosts energy, supports immunity, & promotes overall
                        wellness.</p>
                     <a class="it-btn-sm" href="{{url_for('service_details.index')}}">More Details</a>
                  </div>
                  <div class="it-service-thumb" data-mask-src="static/img/service/service-bg.png">
                     <img src="static/img/service/service-1-3.png" alt="">
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 wow itfadeUp" data-wow-duration=".9s"
                                 data-wow-delay=".8s">
               <div class="it-service-item mb-30">
                  <div class="it-service-content mb-50">
                     <h4 class="it-service-title"><a class="border-line-white-2" href="{{url_for('service_details.index')}}">Daily Life Assistance</a>
                     </h4>
                     <p>Healthy food nourishes the body, boosts energy, supports immunity, & promotes overall
                        wellness.</p>
                     <a class="it-btn-sm" href="{{url_for('service_details.index')}}">More Details</a>
                  </div>
                  <div class="it-service-thumb" data-mask-src="static/img/service/service-bg.png">
                     <img src="static/img/service/service-1-4.png" alt="">
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 wow itfadeUp" data-wow-duration=".9s"
                                 data-wow-delay="1s">
               <div class="it-service-item mb-30">
                  <div class="it-service-content mb-50">
                     <h4 class="it-service-title"><a class="border-line-white-2" href="{{url_for('service_details.index')}}">NDIS Speech Therapy</a></h4>
                     <p>Healthy food nourishes the body, boosts energy, supports immunity, & promotes overall
                        wellness.</p>
                     <a class="it-btn-sm" href="{{url_for('service_details.index')}}">More Details</a>
                  </div>
                  <div class="it-service-thumb" data-mask-src="static/img/service/service-bg.png">
                     <img src="static/img/service/service-1-5.png" alt="">
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 wow itfadeUp" data-wow-duration=".9s"
                                 data-wow-delay="1.2s">
               <div class="it-service-item mb-30">
                  <div class="it-service-content mb-50">
                     <h4 class="it-service-title"><a class="border-line-white-2" href="{{url_for('service_details.index')}}">Community & Activities</a>
                     </h4>
                     <p>Healthy food nourishes the body, boosts energy, supports immunity, & promotes overall
                        wellness.</p>
                     <a class="it-btn-sm" href="{{url_for('service_details.index')}}">More Details</a>
                  </div>
                  <div class="it-service-thumb" data-mask-src="static/img/service/service-bg.png">
                     <img src="static/img/service/service-1-6.png" alt="">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- service-area-end -->
</main>

{% endblock %}